
@{
    ViewBag.Title = "Index";
}

<h2>Overview</h2>

@Html.ActionLink("Logout", "Signout", "Account")

<table align="center">
    <tr>
        <th colspan="2">Accounts</th>
    </tr>
    @{ 
        foreach (var account in ViewBag.AccountsList)
        {
            <tr>
                <td>@account.name</td>
                <td>@account.value</td>
            </tr>
        }
    }
</table>

<table align="center">
   <tr>
       <th colspan="2">Transactions</th>
   </tr>
    @{
        foreach (var transaction in ViewBag.TransactionsList)
        {
            <tr>
                <td>@transaction.name</td>
                <td>@transaction.value</td>
            </tr>
        }
     }
</table>