
@{
    ViewBag.Title = "Signup";
}

<h2>Signup</h2>

@using (Html.BeginForm())
{
    <table align="center">
        <tr>
            <td colspan="2">
                @Html.ValidationMessage("error")
            </td>
        </tr>
        <tr>
            <td>Login : </td>
            <td>
                @Html.TextBox("login")
                @Html.ValidationMessage("login")
            </td>
        </tr>
        <tr>
            <td>Password : </td>
            <td>
                @Html.Password("password")
                @Html.ValidationMessage("password")
            </td>
        </tr>
        <tr>
            <th colspan="2">
                <input type="submit" value="ok"/>
            </th>
        </tr>
    </table>
}